# Created by .ignore support plugin (hsz.mobi)

# User-specific stuff
.idea/
*.iws
out/
*.class
*.log
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/
